@keyframes fadeIn {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
h2 {
  cursor: pointer;
}
.animate-fadeIn {
  animation: fadeIn 1s ease-in-out forwards;
}

.animate-delay-1000 {
  animation-delay: 1s;
}
